# BACK-END IGNORE
back-end/node_modules/
back-end/.env
back-end/utils/

# FRONT-END IGNORE
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front-end/node_modules/
front-end/.pnp
front-end/.pnp.*
front-end/.yarn/*
front-end/!.yarn/patches
front-end/!.yarn/plugins
front-end/!.yarn/releases
front-end/!.yarn/versions

# testing
front-end/coverage

# next.js
front-end/.next/
front-end/out/

# production
front-end/build

# misc
front-end/.DS_Store
front-end/*.pem

# debug
front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*
front-end/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
front-end/.env*

# vercel
front-end/.vercel

# typescript
front-end/*.tsbuildinfo
front-end/next-env.d.ts

wa-bot/